{% extends 'base.html' %}

{% block title %}
    {{ title }} :: {{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
{{ mixin_group }}
{% for item in news %}
<div class="card mb-3" style="width: 1300px;">
    {{ forloop.counter }}
        <div class="card-header">
            Категория: <a href="{{ item.category.get_absolute_url }}">{{ item.category.title }}</a>
        </div>
            <div class="media" style="display:flex">
            <div class="media-photo">
                {% if item.photo %}
                <img src="{{ item.photo.url }}" class="mr-3" width="350" alt="Photo">
                {% else %}
                <h6>Изображения нет</h6>
                {% endif %}
            </div>
            <div class="media-body" style="margin-left: 40px;">
                <h5 class="card-title {% cycle 'text-success' 'text-danger' 'text-primary' %}" style="margin-left: 350px;">{{ item.title }}</h5>
                {% autoescape off %}
                <p class="card-text">{{ item.content|truncatewords:80|linebreaks }}</p>
                {% endautoescape %}
                <a href="{{ item.get_absolute_url }}" class="btn btn-primary" style="margin-left: 350px;">Read mode...</a>
            </div>
            </div>
    <div class="card-footer text-muted">
        <div class="date" style="margin-left: 550px;">
            {{ item.created_at|date:'Y-m-d H:i' }}
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
