{% extends 'base.html' %}

{% block title %}
    {{ title }} :: {{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
<div class="card mb-3" style="width: 1300px;">
    {{ forloop.counter }}
    <div class="card-header">
        Категория: <a href="{{ news_item.category.get_absolute_url }}">{{ news_item.category.title }}</a>
    </div>
        <div class="card-body">
            {% if news_item.photo %}
            <img src="{{ news_item.photo.url }}" class="mr-3" width="450" alt="Photo" height="400" style="margin-left: 400px;">
            {% else %}
            <h6>Изображения нет</h6>
            {% endif %}
        </div>
            <h5 class="card-title {% cycle 'text-success' 'text-danger' 'text-primary' %}" style="margin-left: 600px; margin-top: 20px;">{{ news_item.title }}</h5>
            {% autoescape off %}
            <div class="content" style="margin: 15px;">
                <p class="card-text">{{ news_item.content|linebreaks }}</p>
            </div>
            {% endautoescape %}
    <div class="card-footer text-muted">
        <div class="date" style="margin-left: 550px">
            {{ news_item.created_at|date:'Y-m-d H:i' }}
        </div>

    </div>
</div>
{% endblock %}
